#goya-custom-page {
    background-color: #eee;
}

#goya-custom-page .container {
    margin: 0 auto;
    width: 100%;
}

#goya-custom-page header {
    margin: 30px 0 0;
    text-align: center;
    width: 100%;
}

#goya-custom-page header h1 {
    background: url(ld-title.png) no-repeat scroll 0 0;
    background-size: contain;
    display: block;
    height: 160px;
    margin: 0 auto;
    text-indent: -9999px;
    width: 90%;
}

#goya-custom-page .product-list .row {
    overflow: hidden;
}

#goya-custom-page .product-list a {
    display: block;
    margin-bottom: 13px;
    position: relative;
    text-decoration: none;
    width: 100%;
}

#goya-custom-page .product-list a img {
    display: block;
    width: 100%;
}

#goya-custom-page .product-list a .overlay-left {
    background-color: rgba(0, 0, 0, 0.05);
    height: 0;
    left: 0;
    position: absolute;
    transition: all .3s ease;
    top: 0;
    width: 0;
}

#goya-custom-page .product-list a .overlay-right {
    background-color: rgba(0, 0, 0, 0.05);
    bottom: 0;
    height: 0;
    right: 0;
    position: absolute;
    transition: all .3s ease;
    width: 0;
}

#goya-custom-page .product-list a:hover .overlay-left, #goya-custom-page .product-list a:hover .overlay-right {
    height: 100%;
    width: 100%;
}

#goya-custom-page .product-list .col-2 a {
    float: left;
    font-size: 0;
    width: 49%;
}

#goya-custom-page .product-list .col-2 a:last-child {
    float: right;
}