#goya-custom-page {
    background: url(ld-cri-bg.jpg) no-repeat scroll center top #eee;
    min-height: 675px;
    width: 100%;
}

#goya-custom-page .container {
    margin: 0 auto;
    width: 973px;
}

#goya-custom-page header {
    margin: 100px 0 50px;
    text-align: right;
}

#goya-custom-page header h1 {
    background: url(ld-cri-title.jpg) no-repeat scroll 0 0;
    display: inline-block;
    height: 213px;
    width: 443px;
}

#goya-custom-page header h1 span {
    opacity: 0;
}

#goya-custom-page .product-list .row {
    margin-bottom: 13px;
}

#goya-custom-page .product-list a {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

#goya-custom-page .product-list a .overlay-left {
    background-color: rgba(0, 0, 0, 0.05);
    height: 0;
    left: 0;
    position: absolute;
    transition: all .3s ease;
    top: 0;
    width: 0;
}

#goya-custom-page .product-list a .overlay-right {
    background-color: rgba(0, 0, 0, 0.05);
    bottom: 0;
    height: 0;
    right: 0;
    position: absolute;
    transition: all .3s ease;
    width: 0;
}

#goya-custom-page .product-list a:hover .overlay-left, #goya-custom-page .product-list a:hover .overlay-right {
    height: 100%;
    width: 100%;
}

#goya-custom-page .product-list .col-4 a {
    margin-right: 13px;
}

#goya-custom-page .product-list .col-6 a {
    margin-right: 24px;
}

#goya-custom-page .product-list .col-4 a:last-child,#goya-custom-page .product-list .col-6 a:last-child {
    margin-right: 0;
}